.background {
    -fx-background-color: #2a3f5a;
}


.label, .table-row-cell {
    -fx-font-family: Motiva Sans, Arial, Helvetica, sans-serif;
    -fx-text-fill: white;
}

.label-header {
    -fx-font-size: 20px;
}

.label-grid {
    -fx-padding: 4px;
    -fx-font-size: 14px;
}

.table-row-cell {
    -fx-text-background-color: white;
    -fx-faint-focus-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, -fx-table-cell-border-color;
}

.table-row-cell:selected {
    -fx-background-color: derive(#2a3f5a,20%);
}

.table-row-cell:focused{
    -fx-background-insets: 0;
}

.table-view {
    -fx-base: #2a3f5a;
    -fx-control-inner-background: #2a3f5a;
    -fx-background-color: #2a3f5a;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #2a3f5a transparent #2a3f5a;
    -fx-background-color: transparent, derive(#2a3f5a,20%);
}

.menu-bar .label {
   -fx-text-fill: black;
}

