.background {
    -fx-background-color: #272727;
    -fx-border-color: #272727;
}

.split-pane {
    -fx-background-color: #272727;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: #272727;
    -fx-background-color: derive(#272727, 25%);
}

.label, .table-row-cell {
    -fx-font-family: Motiva Sans, Arial, Helvetica, sans-serif;
    -fx-text-fill: white;
}

.label-header {
    -fx-font-size: 20px;
}

.label-grid {
    -fx-padding: 4px;
    -fx-font-size: 14px;
}

/*********
Table
**********/

.table-view {
    -fx-base: #272727;
    -fx-control-inner-background: #272727;
    -fx-background-color: #272727;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 5;
}

.table-row-cell {
    -fx-text-background-color: white;
    -fx-faint-focus-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, -fx-table-cell-border-color;
}

.table-row-cell:selected {
    -fx-background-color: derive(#272727, 20%);
}

.table-row-cell:focused {
    -fx-background-insets: 0;
}
 .column-header-background, .filler {
    -fx-border-color: transparent;
    -fx-background-color: #272727;
}

.slider .track {
    -fx-background-color: derive(#272727, 35%);
}

.slider .thumb {
    -fx-background-color: derive(#272727, -50%);
}

.progress-indicator {
    -fx-progress-color: white;
}

/**************
Scroll Bar
***************/

.scroll-bar {
    -fx-background-color: transparent;
}

.thumb {
    -fx-border-radius: 3px;
    -fx-background-color: #313131;
}

.increment-arrow, .decrement-arrow {
    -fx-background-color: white;
}

/*************
Menu
**************/

.menu-bar, .context-menu {
    -fx-background-color: derive(#272727, -35%);
}

.menu .label {
    -fx-text-fill: derive(white, -25%);
}

.menu:hover, .menu:focused, .menu-button:focused, .menu-item:hover {
    -fx-background-color: derive(#272727, 25%);
}

